@model List<bearish_model.Models.Trending_Bearish>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Table Demo</title>
	<link rel="stylesheet" type="text/css" href="dark-mode.css">
	<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 1rem;
        background-color: #f8c6e7;
    }

    th, td {
        padding: 0.75rem;
        text-align: center;
        border: 1px solid #f8c6e7; /* change border color to match background */
        border-right-color: #343a40; /* add border-right-color to separate columns */

    }

    th {
        background-color: #f8c6e7;
        color: #343a40; /* change font color to match row titles */
        font-weight: bold;
        text-align: center;
        border-bottom: 2px solid #343a40; /* add bottom border to match other rows */
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    h1 {
        text-align: center;
        color: #292828; /* change title color to match table pink */
        margin-bottom: 1rem;
    }
</style>
</head>
<body>
    <h1>Bearish Trending Stocks from Social Media Sentiments</h1>
    <table class="table table-pink">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Price</th>
                <th>Change</th>
                <th>Change Percent</th>
                <th>Volume</th>
                <th>Market Cap</th>
                <th>Previous Volume</th>
                <th>Previous Close</th>
                <th>Sentiment</th>
                <th>Last Sentiment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Rank</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Change</td>
                    <td>@item.ChangePercent</td>
                    <td>@item.Volume</td>
                    <td>@item.MarketCap</td>
                    <td>@item.PreviousVolume</td>
                    <td>@item.PreviousClose</td>
                    <td>@item.Sentiment</td>
                    <td>@item.LastSentiment</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>